doctype html
html 
  head 
    title= "Shortify Link Shortener"
    link(rel="stylesheet", href="./styles/success.css")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body 
    div(class="main-content-container")
      div
        header 
            h1= "Change My URL Up"
        div 
          ul
            li
              h3= "Source: " + pair[0]
            li
              h3= "Generated: " + pair[1]